body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: #000000;

  header {
    position: fixed;
    z-index: 100;
  }

  main {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include bp(768px) {
      flex-direction: row;
    }
  }
}

.circle {
  position: relative;
  filter: url(#wavy);

  width: 250px;
  height: 250px;
  @include bp(400px) {
    width: 350px;
    height: 350px;
  }
  @include bp(550px) {
    width: 500px;
    height: 500px;
  }
  @include bp(768px) {
    width: 350px;
    height: 350px;
  }
  @include bp(1000px) {
    width: 500px;
    height: 500px;
  }
  @include bp(1200px) {
    width: 600px;
    height: 600px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 75px;
    bottom: 75px;
    right: 75px;
    @include bp(1000px) {
      top: 100px;
      left: 100px;
      bottom: 100px;
      right: 100px;
    }
    border: 20px solid white;
    border-radius: 50%;
  }
  &::before {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    -webkit-box-reflect: below 10px
      linear-gradient(transparent, transparent, #0002);
    animation: animate 5s linear infinite;
  }
  &::after {
    box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
  }

  &:nth-child(2) {
    &::before {
      animation-delay: -2.5s;
    }
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
  }
  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  }
  100% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(360deg);
  }
}
